﻿.table-scrollable {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word; }
  .table-scrollable .odd {
    background-color: #f9f9f9; }
  .table-scrollable .table-area {
    height: 100%;
    overflow: auto; }
    .table-scrollable .table-area table {
      margin-bottom: 0; }
      .table-scrollable .table-area table thead {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #eeeeee; }
        .table-scrollable .table-area table thead th {
          user-select: none;
          /* CSS3 (little to no support) */
          -ms-user-select: none;
          /* IE 10+ */
          -moz-user-select: none;
          /* Gecko (Firefox) */
          -webkit-user-select: none;
          /* Webkit (Safari, Chrome) */
          border-bottom: none; }
      .table-scrollable .table-area table.mtable-data-table a.btn, .table-scrollable .table-area table.mtable-data-table button {
        margin-right: .5em; }
  .table-scrollable th:last-child, .table-scrollable col:last-child {
    width: auto; }
  .table-scrollable table tr th {
    padding: 0 5px;
    border-top: none;
    border-right: 1px gray dotted; }
    .table-scrollable table tr th div {
      padding: 8px 5px; }
  .table-scrollable th:not(.disabled) div {
    cursor: pointer; }
  .table-scrollable.table-no-edit table tr th {
    cursor: default; }
    .table-scrollable.table-no-edit table tr th div {
      cursor: default; }
  .table-scrollable td div {
    overflow: hidden; }
  .table-scrollable .table-splash {
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    background-color: black;
    color: white;
    opacity: .9;
    padding: 20px;
    z-index: 9999; }
  .table-scrollable .table-loading-error div {
    margin: 5px; }
    .table-scrollable .table-loading-error div.table-loading-error-message {
      color: #FF0039; }

.table-spinner {
  margin: 0 auto;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .table-spinner div {
    background-color: #7BAFD4;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-left: 5px;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out; }
  .table-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .table-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  .table-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .table-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

